*~
\#*\#
ac-comphist.dat
auto-save-list/
bookmarks
.cache/
elpa/
eshell/
games/
.gitignore~
init.el~
lsp-cache/
.lsp-session-v1
private/
projectile-bookmarks.eld
projectile.cache
recentf*
session.*
transient/
url/

/elpy/
